<module title="Final Project">
    <div class="page-def">
      <page title="Final Project"> <include path="../../pages/Final-Project.md" /> </page>
    </div>
    <item type="page" title="Final Project" indent="0" />
    <include path="Signup-for-Final-Project-In-class-Presentation-quiz.canvas.md.xml.jinja" />
    <include path="Signup-for-Final-Project-In-class-Presentation-(2)-quiz.canvas.md.xml.jinja" />
    <include path="Final-Project-Log.canvas.md.xml.jinja" />
    <include path="Final-Project-Pitch-(In-Class-and-Class-Channel)-quiz.canvas.md.xml.jinja" />
    <include path="Project-Initial-Design.canvas.md.xml.jinja" />
    <include path="In-Person-System-Design-Interview-(your-project).canvas.md.xml.jinja" />
    <include path="Final-Project-Collaboration-and-Reviews.canvas.md.xml.jinja" />
    <include path="Final-Project-and-Report.canvas.md.xml.jinja" />
</module>