<assignment title="Final Project Log" points_possible="2.0" due_at="{{ DUE_FINAL_PROJECT_LOG_10 }}">
  <description>
Provide a link to your github repo to your log markdown file. This file should be updated whenever you work on your project (whether or not you make commits). It should just be a table of what you did, when you did it, and duration. Expectation is that the log is updated on the day (or close to the day) that you did the work. The hope is this helps you account for you time spent.

Example

Date,              What,                                  Hours  
11/11/2032, Worked on initial designs, 2.5   
11/13/2032,  Setup tech stack,               2

**Total                                                             4.5**
  </description>
</assignment>