<quiz title="Final Project Pitch (In Class and Class Channel)" due_at="{{ DUE_FINAL_PROJECT_PITCH__IN_CLASS_AND_CLASS_CHANNEL__10 }}">
  <description>TODO: Migrate Quiz Questions</description>
</quiz>