<assignment title="Final Project Collaboration and Reviews" points_possible="40.0" due_at="{{ DUE_FINAL_PROJECT_COLLABORATION_AND_REVIEWS_10 }}">
  <description>
Describe what you did to give feedback to others ideas, pitches, statuses, questions, final presentations, updates, or contribute in some way to others success. Did you listen to others? Did you share anything with others?

Please make a report and upload as PDF.
  </description>
</assignment>