<assignment title="Final Project and Report" points_possible="60" due_at="{{ DUE_FINAL_PROJECT_AND_REPORT_10 }}">
  <description>
Provide the following:

* **Link to your github** repo markdown file that is a final report of your project with any designs, demos, information.
  + Summary of the project (one to three sentences)
  + Diagrams, demo video or gif, etc.
  + What did you learn in this project?
  + Does your project integrate with AI in any interesting way? If yes, please describe.
  + How did you use AI to assist in building your project? Please, describe.
  + Discuss why this project is interesting to you!
  + Key learnings from the project (please try to come up with at least 3)
  + Explanation if applicable of failover strategy, scaling characteristics, performance characteristics, authentication, concurrency, etc.
* **Link to your post in class channel** that says a few sentences about your project, why you are interested in it, repo link, and a demo, gif, video of the project (and link to repo).
* Please state "yes, share" or "no, don't share" on whether you'd be willing for us to link to your repo or take a pull request of your project as an example for future students.

Final Project - <pages/g98c7ce42f688ed7d4ce7f31cfb97c509>
  </description>
</assignment>