<assignment title="In Person System Design Interview (your project)" points_possible="3.0" due_at="{{ DUE_IN_PERSON_SYSTEM_DESIGN_INTERVIEW__YOUR_PROJECT__10 }}">
  <description>
This project will be to describe the systems involved in your final project. This could be browsers, applications, scripts, web services, authentication, storage, databases, servers, etc. and how those systems interact to deliver your product. You should be able to articulate the scaling bottlenecks, durability, recoverability, and costs-to-customer ratios.

Submit a text entry after the interview with a self-evaluation:

1. Who did you interview with?
2. How would you rate your interview performance between 1-3 and why?

Here is how you should rate your interview performance:

1: Poor performance, unprepared, minimum score for showing up

2: Ok performance, had many satisfactory answers, minimum score for success

3: Excellent performance, well prepared, impressive work, did really well, demonstrated \*learning\* growth mindset
  </description>
</assignment>