<assignment title="Project Initial Design" points_possible="10" due_at="{{ DUE_PROJECT_INITIAL_DESIGN_10 }}">
  <description>
Final Project: <pages/g98c7ce42f688ed7d4ce7f31cfb97c509>

* Summarize in words and pictures what your project purpose and goals are (other students will see this as well and it will help them quickly grasp the purpose of you project).
* Sketch your initial thinking on your ERD and the data your project will be accessing and using
* Sketch rough system design of your project, what are the technologies and pieces (shapes) and interactions (arrows)
* Make **initial** goals for where you want your project to be at each day until the end of class.

Please include any additional relevant information you'd like to include or have. If you project has UX maybe you could have some rough sketch of that as well.  
  
Submit this as a **link to a markdown file in your github public repo**. Expectation is this would take 10 to 90 minutes to create and think through. If you are wanting to spend more time, please just give us your initial thoughts and spend more time after submitting this! This is just your initial thoughts and meant to help you make a little progress.
  </description>
</assignment>