<module title="OpenAI, GPT">
    <include path="Assignment-07-(Database-Programming).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 07 (Database Programming)" content_id="Assignment 07 (Database Programming)" indent="0" />
    <include path="Natural-Language-(AI)-SQL-Project-quiz.canvas.md.xml.jinja" />
    <item type="quiz" title="Natural Language (AI) SQL Project" content_id="Natural Language (AI) SQL Project" indent="0" />
    <include path="Review-AI-DB-Projects-quiz.canvas.md.xml.jinja" />
    <item type="quiz" title="Review AI DB Projects" content_id="Review AI DB Projects" indent="0" />
</module>