<module title="OpenAI, GPT">
    <include path="Assignment-07-(Database-Programming).canvas.md.xml.jinja" />
    <include path="Natural-Language-(AI)-SQL-Project-quiz.canvas.md.xml.jinja" />
    <include path="Review-AI-DB-Projects-quiz.canvas.md.xml.jinja" />
</module>