<div>
    <page title="Syllabus">
        <include path="../../pages/syllabus.md" />
    </page>

    <module title="Setup and Syllabus">
        <item type="page" title="CS 452 Syllabus" content_id="Syllabus" indent="0" />
    </module>
</div>
