<module title="MongoDB Project and Pipeline Engineering">
    <div class="page-def">
      <page title="[In-class] MongoDB Aggregations"> <include path="../../pages/[In-class]-MongoDB-Aggregations.md" /> </page>
    </div>
    <item type="page" title="[In-class] MongoDB Aggregations"  indent="0" content_id="[In-class] MongoDB Aggregations" />
    <include path="MongoDB-Basics-TODO-and-beyond....canvas.md.xml.jinja" />
    <include path="MongoDB-Project.canvas.md.xml.jinja" />
    <file path="../../files/Document Databases - Basic MongoDB-1.pptx" />
    <item type="file" title="Document Databases - Basic MongoDB.pptx" content_id="Document Databases - Basic MongoDB-1.pptx"> <file path="../../files/Document Databases - Basic MongoDB-1.pptx" /></item>
    <file path="../../files/MongoDBSharding-1.pptx" />
    <item type="file" title="MongoDBSharding.pptx" content_id="MongoDBSharding-1.pptx"> <file path="../../files/MongoDBSharding-1.pptx" /></item>
    <file path="../../files/MoreMongoDB-1.pptx" />
    <item type="file" title="MoreMongoDB.pptx" content_id="MoreMongoDB-1.pptx"> <file path="../../files/MoreMongoDB-1.pptx" /></item>
    <file path="../../files/box_office.json" />
    <item type="file" title="box_office.json" content_id="box_office.json"> <file path="../../files/box_office.json" /></item>
    <file path="../../files/ratings.csv" />
    <item type="file" title="ratings.csv" content_id="ratings.csv"> <file path="../../files/ratings.csv" /></item>
    <file path="../../files/ratings.json" />
    <item type="file" title="ratings.json" content_id="ratings.json"> <file path="../../files/ratings.json" /></item>
    <file path="../../files/zips.json" />
    <item type="file" title="zips.json" content_id="zips.json"> <file path="../../files/zips.json" /></item>
    <file path="../../files/pymongoExample.ipynb" />
    <item type="file" title="pymongoExample.ipynb" content_id="pymongoExample.ipynb"> <file path="../../files/pymongoExample.ipynb" /></item>
    <file path="../../files/setting-up-mongodb-atlas.pdf" />
    <item type="file" title="setting-up-mongodb-atlas.pdf" content_id="setting-up-mongodb-atlas.pdf"> <file path="../../files/setting-up-mongodb-atlas.pdf" /></item>
    <file path="../../files/movies.json" />
    <item type="file" title="movies.json" content_id="movies.json"> <file path="../../files/movies.json" /></item>
    <file path="../../files/genres.json" />
    <item type="file" title="genres.json" content_id="genres.json"> <file path="../../files/genres.json" /></item>
</module>