<module title="MongoDB Project and Pipeline Engineering">
    <div class="page-def">
      <page title="[In-class] MongoDB Aggregations"> <include path="../../pages/[In-class]-MongoDB-Aggregations.md" /> </page>
    </div>
    <item type="page" title="[In-class] MongoDB Aggregations" indent="0" />
    <include path="MongoDB-Basics-TODO-and-beyond....canvas.md.xml.jinja" />
    <include path="MongoDB-Project.canvas.md.xml.jinja" />
    <file path="../../files/Document Databases - Basic MongoDB-1.pptx" />
    <item type="file" title="Document Databases - Basic MongoDB.pptx" > <file path="../../files/Document Databases - Basic MongoDB-1.pptx" /> </item>
    <file path="../../files/MongoDBSharding-1.pptx" />
    <item type="file" title="MongoDBSharding.pptx" > <file path="../../files/MongoDBSharding-1.pptx" /> </item>
    <file path="../../files/MoreMongoDB-1.pptx" />
    <item type="file" title="MoreMongoDB.pptx" > <file path="../../files/MoreMongoDB-1.pptx" /> </item>
    <file path="../../files/box_office.json" />
    <item type="file" title="box_office.json" > <file path="../../files/box_office.json" /> </item>
    <file path="../../files/ratings.csv" />
    <item type="file" title="ratings.csv" > <file path="../../files/ratings.csv" /> </item>
    <file path="../../files/ratings.json" />
    <item type="file" title="ratings.json" > <file path="../../files/ratings.json" /> </item>
    <file path="../../files/zips.json" />
    <item type="file" title="zips.json" > <file path="../../files/zips.json" /> </item>
    <file path="../../files/pymongoExample.ipynb" />
    <item type="file" title="pymongoExample.ipynb" > <file path="../../files/pymongoExample.ipynb" /> </item>
    <item type="ExternalUrl" title="PyMongo Tutorial" external_url="" indent="0" />
    <file path="../../files/setting-up-mongodb-atlas.pdf" />
    <item type="file" title="setting-up-mongodb-atlas.pdf" > <file path="../../files/setting-up-mongodb-atlas.pdf" /> </item>
    <file path="../../files/movies.json" />
    <item type="file" title="movies.json" > <file path="../../files/movies.json" /> </item>
    <file path="../../files/genres.json" />
    <item type="file" title="genres.json" > <file path="../../files/genres.json" /> </item>
</module>