<assignment title="MongoDB Project" points_possible="30.0" due_at="{{ DUE_MONGODB_PROJECT_9 }}">
  <description>
This assignment is a pair-programming assignment. You are welcome to do it by yourself if you choose. Everyone should turn in the assignment.

<https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/mongo/Step7.ipynb>

FAQ:

I'm unable to connect to my cluster! What do I do?

Make sure you've adjusted your network connection to allow for connections from your current IP address. Google Colab runs in the cloud, and you can use the first cell in the notebook to figure out it's IP address.

I've run out of space in my cluster. Do I need to buy more?

Everything in this assignment can fit in the free tier, but only just barely. A new cluster comes with dummy data that you need to delete.
  </description>
</assignment>