<assignment title="MongoDB Basics TODO and beyond..." points_possible="10" due_at="{{ DUE_MONGODB_BASICS_TODO_AND_BEYOND____9 }}">
  <description>
Step 1: Set up a your cluster with [MongoDB Atlas](https://www.mongodb.com/products/platform/atlas-database)

* Use the following instructions as a guide to set up your cluster: [viewer/files/setting-up-mongodb-atlas.pdf](../../files/setting-up-mongodb-atlas.pdf)

Step 2: Create a new database called "sandbox", with a collection called "movies"

* Add the movies.json file to the collection: [viewer/files/movies.json](../../files/movies.json)

Step 3: Complete assignment - submit queries and results. Use this [Colab Notebook](https://colab.research.google.com/drive/1uyV4ZzkWuSCh7tnluA_Y2WEnc_CjO5x4?usp=sharing) for some starter code.

Documentation for MongoDB: <https://www.mongodb.com/docs/manual/crud>

**Alternate option:**

* <https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/mongo/Step1.ipynb> <-- class learning activity
* <https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/mongo/Step2.ipynb> <-- use my connection instead of yours (step 3)
* Finally see if you can upload movies.json to your own collection in mongo and interact with it from code.
  </description>
</assignment>