<module title="Midterm">
    <include path="Midterm-Entity-Relationship-Diagram-(ERD).canvas.md.xml.jinja" />
    <include path="Midterm-SQL-(Without-AI,-Open-Book).canvas.md.xml.jinja" />
    <include path="Midterm-SQL-(With-AI).canvas.md.xml.jinja" />
</module>