<module title="Midterm">
    <include path="Midterm-Entity-Relationship-Diagram-(ERD).canvas.md.xml.jinja" />
    <item type="assignment" title="Midterm Entity Relationship Diagram (ERD)" content_id="Midterm Entity Relationship Diagram (ERD)" indent="0" />
    <include path="Midterm-SQL-(Without-AI,-Open-Book).canvas.md.xml.jinja" />
    <item type="assignment" title="Midterm SQL (Without AI, Open Book)" content_id="Midterm SQL (Without AI, Open Book)" indent="0" />
    <include path="Midterm-SQL-(With-AI).canvas.md.xml.jinja" />
    <item type="assignment" title="Midterm SQL (With AI)" content_id="Midterm SQL (With AI)" indent="0" />
</module>