<assignment title="Midterm Entity Relationship Diagram (ERD)" points_possible="10.0" due_at="{{ DUE_MIDTERM_ENTITY_RELATIONSHIP_DIAGRAM__ERD__4 }}">
  <description>
Your task is to create a database design for a blood bank. You should create an Entity Relationship Diagram for the database to meet the following needs. Use whatever tools you want to create the diagram. You should submit a pdf file of the diagram when you are finished. Your diagram should contain all the needed attributes (including primary and foreign keys) and should be able to answer the questions.

The blood bank has donors and staff (who may also be donors). You will need to keep track of their name (first, last), address (street, city, state, zip), phone number, age, and gender. For donors, you will also need to store blood type and RH factor, medications (name, amount) the donor is taking, and any medical conditions (name, seriousness level) the donor has. This is a large operation that has multiple locations. You will need to keep track of the locations addresses (street, city, state, zip), phone number and the staff that work at each location. Staff may be assigned to multiple locations. Staff have different job roles and are paid based on their role and the time they have worked for the blood bank. You will also need to keep track of all donations (donor, date, amount, location, notes).   
  
(It is fine to assume each staff member is hired for exactly one role, alternatively, you could allow for them working in multiple roles if you'd like.)

Note: the book differentiates between a table diagram and an ERD but the terms are used interchangeably in the industry. What we specifically want in this instance is what the book refers to as a table diagram.

Some of the questions you should be able to answer:

* What are all the times a given donor has donated to the blood bank?
* What is the total amount of blood donated by a given donor?
* Where did the donor last give blood?
* Who works at a given location?
* What are the medical conditions of a given donor?
* Who has a given medical condition?
* What is the average age of the donors with a given medical condition?
* How many donors are taking a given medication? who are they?
* How many staff are donating?
* What are the common medications used by donors with a given medical condition?
* How much should a certain staff member be paid?

**Deliverables:**

* PDF or picture file with the ER Diagram.
  </description>
</assignment>