<assignment title="Midterm SQL (Without AI, Open Book)" points_possible="5" due_at="{{ DUE_MIDTERM_SQL__WITHOUT_AI__OPEN_BOOK__4 }}">
  <description>
No AI on this one. Yes, you can use the book.
  </description>
</assignment>