<div>
    <course-settings
        name='CS 452 - Database Modeling Concepts ({{ SEMESTER_NAME }})'
        code='CS 452 (W26)'
    />

    <assignment-groups>
        <group name="Assignments" weight="30"/>
        <group name="Projects" weight="40"/>
        <group name="Exams" weight="30"/>
    </assignment-groups>

    <!-- Pilot Module -->
    <include path="modules/00-Setup/setup.canvas.md.xml.jinja"/>
</div>
