<div class="course">
    <course-settings name="CS 452 - Database Modeling Concepts ({{ SEMESTER_NAME }})" code="CS 452" />
    <assignment-groups>
        <group name="Assignments" weight="70"/>
        <group name="Exams" weight="30"/>
    </assignment-groups>

    <include path="modules/00-Setup/setup.canvas.md.xml.jinja"/>

    <include path="modules/00-Introduction/00-Introduction.canvas.md.xml.jinja"/>
    <include path="modules/01-SQL/01-SQL.canvas.md.xml.jinja"/>
    <include path="modules/02-Design/02-Design.canvas.md.xml.jinja"/>
    <include path="modules/03-OpenAI,-GPT/03-OpenAI,-GPT.canvas.md.xml.jinja"/>
    <include path="modules/04-Midterm/04-Midterm.canvas.md.xml.jinja"/>
    <include path="modules/05-Vector-DB-(Complex-Types)/05-Vector-DB-(Complex-Types).canvas.md.xml.jinja"/>
    <include path="modules/06-NoSQL/06-NoSQL.canvas.md.xml.jinja"/>
    <include path="modules/07-Neo4j-(Graph-DB)-and-Mongo-DB/07-Neo4j-(Graph-DB)-and-Mongo-DB.canvas.md.xml.jinja"/>
    <include path="modules/08-Big-Data,-Spark-SQL,-Kusto/08-Big-Data,-Spark-SQL,-Kusto.canvas.md.xml.jinja"/>
    <include path="modules/09-MongoDB-Project-and-Pipeline-Engineering/09-MongoDB-Project-and-Pipeline-Engineering.canvas.md.xml.jinja"/>
    <include path="modules/10-Final-Project/10-Final-Project.canvas.md.xml.jinja"/>
    <include path="modules/11-Storage,-and-Indexes/11-Storage,-and-Indexes.canvas.md.xml.jinja"/>
    <include path="modules/12-Transaction-Management/12-Transaction-Management.canvas.md.xml.jinja"/>
    <include path="modules/13-Extra-Credit/13-Extra-Credit.canvas.md.xml.jinja"/>
    <include path="modules/99-Orphans/99-Orphans.canvas.md.xml.jinja"/>
</div>