<module title="Introduction">
    <include path="Communication-Setup!-(001)-quiz.canvas.md.xml.jinja" />
    <item type="quiz" title="Communication Setup! (001)" content_id="Communication Setup! (001)" indent="0" />
    <include path="Communication-Setup!-(002)-quiz.canvas.md.xml.jinja" />
    <item type="quiz" title="Communication Setup! (002)" content_id="Communication Setup! (002)" indent="0" />
    <include path="Assignment-01-(Intro,-SQL-Basic,-Create-and-Select).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 01 (Intro, SQL Basic, Create and Select)" content_id="Assignment 01 (Intro, SQL Basic, Create and Select)" indent="0" />
</module>