<module title="Introduction">
    <include path="Communication-Setup!-(001)-quiz.canvas.md.xml.jinja" />
    <include path="Communication-Setup!-(002)-quiz.canvas.md.xml.jinja" />
    <include path="Assignment-01-(Intro,-SQL-Basic,-Create-and-Select).canvas.md.xml.jinja" />
</module>