<assignment title="Assignment 01 (Intro, SQL Basic, Create and Select)" points_possible="196.0" due_at="{{ DUE_ASSIGNMENT_01__INTRO__SQL_BASIC__CREATE_AND_SELECT__0 }}">
  <description>

  </description>
</assignment>