<module title="Big Data, Spark SQL, Kusto">
    <div class="page-def">
      <page title="[In-class] Overview of Data Engineering Concepts"> <include path="../../pages/[In-class]-Overview-of-Data-Engineering-Concepts.md" /> </page>
    </div>
    <item type="page" title="[In-class] Overview of Data Engineering Concepts" indent="0" />
    <div class="page-def">
      <page title="[In-class] Spark: DataFrames + SQL"> <include path="../../pages/[In-class]-Spark-DataFrames-+-SQL.md" /> </page>
    </div>
    <item type="page" title="[In-class] Spark: DataFrames + SQL" indent="0" />
    <div class="page-def">
      <page title="[In-class] Apache Beam for ETL"> <include path="../../pages/[In-class]-Apache-Beam-for-ETL.md" /> </page>
    </div>
    <item type="page" title="[In-class] Apache Beam for ETL" indent="0" />
    <include path="Spark-Word-Count.canvas.md.xml.jinja" />
    <include path="Assignment-10-(Database-Architecture-and-Warehouse).canvas.md.xml.jinja" />
    <include path="SparkSQL-Project.canvas.md.xml.jinja" />
    <file path="../../files/SparkIntro-1.pptx" />
    <item type="file" title="SparkIntro.pptx" > <file path="../../files/SparkIntro-1.pptx" /> </item>
    <file path="../../files/SparkIntro-pt2.pptx" />
    <item type="file" title="SparkIntro-pt2.pptx" > <file path="../../files/SparkIntro-pt2.pptx" /> </item>
    <file path="../../files/Spark-inclass.pdf" />
    <item type="file" title="Spark-inclass.pdf" > <file path="../../files/Spark-inclass.pdf" /> </item>
    <file path="../../files/wordcount.ipynb" />
    <item type="file" title="wordcount.ipynb" > <file path="../../files/wordcount.ipynb" /> </item>
    <file path="../../files/bible-1.txt" />
    <item type="file" title="bible.txt" > <file path="../../files/bible-1.txt" /> </item>
    <file path="../../files/grades.csv" />
    <item type="file" title="grades.csv" > <file path="../../files/grades.csv" /> </item>
    <file path="../../files/majors.csv" />
    <item type="file" title="majors.csv" > <file path="../../files/majors.csv" /> </item>
    <file path="../../files/videogamesales.ipynb" />
    <item type="file" title="videogamesales.ipynb" > <file path="../../files/videogamesales.ipynb" /> </item>
    <file path="../../files/DataFrameExample.ipynb" />
    <item type="file" title="DataFrameExample.ipynb" > <file path="../../files/DataFrameExample.ipynb" /> </item>
    <file path="../../files/vgsales.csv" />
    <item type="file" title="vgsales.csv" > <file path="../../files/vgsales.csv" /> </item>
</module>