<module title="Big Data, Spark SQL, Kusto">
    <div class="page-def">
      <page title="[In-class] Overview of Data Engineering Concepts"> <include path="../../pages/[In-class]-Overview-of-Data-Engineering-Concepts.md" /> </page>
    </div>
    <item type="page" title="[In-class] Overview of Data Engineering Concepts" content_id="[In-class] Overview of Data Engineering Concepts" indent="0" />
    <div class="page-def">
      <page title="[In-class] Spark: DataFrames + SQL"> <include path="../../pages/[In-class]-Spark-DataFrames-+-SQL.md" /> </page>
    </div>
    <item type="page" title="[In-class] Spark: DataFrames + SQL" content_id="[In-class] Spark: DataFrames + SQL" indent="0" />
    <div class="page-def">
      <page title="[In-class] Apache Beam for ETL"> <include path="../../pages/[In-class]-Apache-Beam-for-ETL.md" /> </page>
    </div>
    <item type="page" title="[In-class] Apache Beam for ETL" content_id="[In-class] Apache Beam for ETL" indent="0" />
    <include path="Spark-Word-Count.canvas.md.xml.jinja" />
    <item type="assignment" title="Spark Word Count" content_id="Spark Word Count" indent="0" />
    <include path="Assignment-10-(Database-Architecture-and-Warehouse).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 10 (Database Architecture and Warehouse)" content_id="Assignment 10 (Database Architecture and Warehouse)" indent="0" />
    <include path="SparkSQL-Project.canvas.md.xml.jinja" />
    <item type="assignment" title="SparkSQL Project" content_id="SparkSQL Project" indent="0" />
    <file path="../../files/SparkIntro-1.pptx" />
    <item type="file" title="SparkIntro.pptx" content_id="SparkIntro-1.pptx" indent="0" />
    <file path="../../files/SparkIntro-pt2.pptx" />
    <item type="file" title="SparkIntro-pt2.pptx" content_id="SparkIntro-pt2.pptx" indent="0" />
    <file path="../../files/Spark-inclass.pdf" />
    <item type="file" title="Spark-inclass.pdf" content_id="Spark-inclass.pdf" indent="0" />
    <file path="../../files/wordcount.ipynb" />
    <item type="file" title="wordcount.ipynb" content_id="wordcount.ipynb" indent="0" />
    <file path="../../files/bible-1.txt" />
    <item type="file" title="bible.txt" content_id="bible-1.txt" indent="0" />
    <file path="../../files/grades.csv" />
    <item type="file" title="grades.csv" content_id="grades.csv" indent="0" />
    <file path="../../files/majors.csv" />
    <item type="file" title="majors.csv" content_id="majors.csv" indent="0" />
    <file path="../../files/videogamesales.ipynb" />
    <item type="file" title="videogamesales.ipynb" content_id="videogamesales.ipynb" indent="0" />
    <file path="../../files/DataFrameExample.ipynb" />
    <item type="file" title="DataFrameExample.ipynb" content_id="DataFrameExample.ipynb" indent="0" />
    <file path="../../files/vgsales.csv" />
    <item type="file" title="vgsales.csv" content_id="vgsales.csv" indent="0" />
</module>