<assignment title="Assignment 10 (Database Architecture and Warehouse)" points_possible="107" due_at="{{ DUE_ASSIGNMENT_10__DATABASE_ARCHITECTURE_AND_WAREHOUSE__8 }}">
  <description>

  </description>
</assignment>