<assignment title="Spark Word Count" points_possible="10.0" due_at="{{ DUE_SPARK_WORD_COUNT_8 }}">
  <description>
In Class Intro: <https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/sparksql/00%20-%20InClassIntro.ipynb>

[Download Notebook](https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/sparksql/01%20-%20SparkHelloWorld.ipynb)  
  
To run Spark you will need two packages:

* pyspark - can be installed with pip - pip install pyspark
* java - you can use the latest version of java. Needs to be the jdk (https://www.oracle.com/java/technologies/downloads/)
  + ![image.png](../../files/Uploaded%20Media/image-4.png) Choose Mac, Windows, or Linux

Alternatively you could use <https://colab.research.google.com> which will have the JVM and network already configured.

**Questions**:

[download](https://byu.instructure.com/courses/12011/files/3693618/download?download_frd=1)

1. Find the top 10 most occurring words in the bible.   
   **Note: Be sure to ignore case and punctuation and eliminate the blank lines.**

Turn in a **.pdf or .ipynb** file that contains your spark program and the resulting list of the top 10 most occurring words.
  </description>
</assignment>