<assignment title="SparkSQL Project" points_possible="30.0" due_at="{{ DUE_SPARKSQL_PROJECT_8 }}">
  <description>
[Starter Notebook (Optional)](https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/sparksql/03%20-%20Covid.ipynb)

Dataset us-counties.csv - understand it first! (<https://github.com/nytimes/covid-19-data>) [csv](https://raw.githubusercontent.com/nytimes/covid-19-data/refs/heads/master/us-counties.csv "Link") and [readme](https://github.com/nytimes/covid-19-data/blob/master/README.md)[(Links to an external site.)](https://github.com/nytimes/covid-19-data)

1. Write code to define or infer the schema and then read in the dataset *(included in starter notebook)*
2. Write code to find the county with the most deaths *(included in starter notebook)*
3. Write code to find the county with the most cases
4. Write code to find the total number of deaths in Utah county
5. Write code to find the death rate (deaths per case for most recent ) for each state and sort the states by death rate descending
6. Write code to discover something else interesting with this data – your choice

Extra Credit: 

1. Plot death rate data on a US Map (by state)
2. Discover something interesting in this data or by joining it with other data, then plot it on the map!

Notes:

Write the code using Spark DataFrames and/or SparkSQL API

Please look at the data and understand it. The readme also has interesting notes on "Unknown" and "decreasing counts". The county data is intended to be cumulative.

Please turn in a **.pdf or .ipynb** of your whole program and label which question goes to which code.
  </description>
</assignment>