<module title="Design">
    <include path="Assignment-05-(Database-Design-#1).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 05 (Database Design #1)" content_id="Assignment 05 (Database Design #1)" indent="0" />
    <include path="ERD-Tires,-Stores,-Employees,-Customers.canvas.md.xml.jinja" />
    <item type="assignment" title="ERD Tires, Stores, Employees, Customers" content_id="ERD Tires, Stores, Employees, Customers" indent="0" />
    <include path="ERD-Your-Choice--Homework-(Design-Database,-Populate-Real-or-Realistic-Data).canvas.md.xml.jinja" />
    <item type="assignment" title="ERD Your Choice  - Homework (Design Database, Populate Real or Realistic Data)" content_id="ERD Your Choice  - Homework (Design Database, Populate Real or Realistic Data)" indent="0" />
    <include path="Assignment-06-(Database-Design-#2).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 06 (Database Design #2)" content_id="Assignment 06 (Database Design #2)" indent="0" />
    <include path="In-Person-Live-Data-Modeling-Interview-(your-project).canvas.md.xml.jinja" />
    <item type="assignment" title="In Person Live Data Modeling Interview (your project)" content_id="In Person Live Data Modeling Interview (your project)" indent="0" />
</module>