<module title="Design">
    <include path="Assignment-05-(Database-Design-#1).canvas.md.xml.jinja" />
    <include path="ERD-Tires,-Stores,-Employees,-Customers.canvas.md.xml.jinja" />
    <include path="ERD-Your-Choice--Homework-(Design-Database,-Populate-Real-or-Realistic-Data).canvas.md.xml.jinja" />
    <include path="Assignment-06-(Database-Design-#2).canvas.md.xml.jinja" />
    <include path="In-Person-Live-Data-Modeling-Interview-(your-project).canvas.md.xml.jinja" />
</module>