<assignment title="ERD Your Choice  - Homework (Design Database, Populate Real or Realistic Data)" points_possible="5" due_at="{{ DUE_ERD_YOUR_CHOICE____HOMEWORK__DESIGN_DATABASE__POPULATE_REAL_OR_REALISTIC_DATA__2 }}">
  <description>
Consider the world around you and what is interesting to you. Pick something and model it with a simple ERD diagram. See the book (case study) and [this repo](https://github.com/byu-cs-452/byu-cs-452-class-content/tree/main/erd_examples) for some examples.

You might consider using: <https://drawsql.app/> 

Please add some note of what interesting questions can be answered in your data model. You will reuse this for the SQL AI project later - so pick something interesting to you!

Implement your database in sqlite, mysql, or postgres (supabase?) and put some real or "real looking" data in it.
  </description>
</assignment>