<assignment title="In Person Live Data Modeling Interview (your project)" points_possible="3.0" due_at="{{ DUE_IN_PERSON_LIVE_DATA_MODELING_INTERVIEW__YOUR_PROJECT__2 }}">
  <description>
This interview is with the instructor or TAs. For your project design an ERD.

Submit a text entry after the interview with a self-evaluation:

1. Who did you interview with?
2. How would you rate your interview performance between 1-3 and why?

Here is how you should rate your interview performance:

1: Poor performance, unprepared, minimum score for showing up

2: Ok performance, eventually got the right answer, minimum score for success

3: Excellent performance, impressive work, did really well
  </description>
</assignment>