<module title="Storage, and Indexes">
    <div class="page-def">
      <page title="[In-class] Indexes"> <include path="../../pages/[In-class]-Indexes.md" /> </page>
    </div>
    <item type="page" title="[In-class] Indexes"  indent="0" content_id="[In-class] Indexes" />
    <include path="Assignment-11-(Data-Storage-and-Indexes).canvas.md.xml.jinja" />
</module>