<module title="Transaction Management">
    <include path="Assignment-12-(Transaction-Management,-Concurrency,-Recovery).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 12 (Transaction Management, Concurrency, Recovery)" content_id="Assignment 12 (Transaction Management, Concurrency, Recovery)" indent="0" />
</module>