<assignment title="Assignment 12 (Transaction Management, Concurrency, Recovery)" points_possible="104.0" due_at="{{ DUE_ASSIGNMENT_12__TRANSACTION_MANAGEMENT__CONCURRENCY__RECOVERY__12 }}">
  <description>

  </description>
</assignment>