<module title="Neo4j (Graph DB) and Mongo DB">
    <include path="GraphDB-(Neo4J)-Academic-Papers.canvas.md.xml.jinja" />
    <div class="page-def">
      <page title="[In-class] MongoDB Introduction"> <include path="../../pages/[In-class]-MongoDB-Introduction.md" /> </page>
    </div>
    <item type="page" title="[In-class] MongoDB Introduction"  indent="0" content_id="[In-class] MongoDB Introduction" />
    <include path="MongoDB-Basics-TODO-and-beyond....canvas.md.xml.jinja" />
    <file path="../../files/ColumnFamilyDatabases-1.pptx" />
    <item type="file" title="ColumnFamilyDatabases.pptx" content_id="ColumnFamilyDatabases-1.pptx"> <file path="../../files/ColumnFamilyDatabases-1.pptx" /></item>
    <file path="../../files/GraphDatabasesAndNeo4j-1.pptx" />
    <item type="file" title="GraphDatabasesAndNeo4j.pptx" content_id="GraphDatabasesAndNeo4j-1.pptx"> <file path="../../files/GraphDatabasesAndNeo4j-1.pptx" /></item>
    <file path="../../files/SimpleFriendsNeo.ipynb" />
    <item type="file" title="SimpleFriendsNeo.ipynb" content_id="SimpleFriendsNeo.ipynb"> <file path="../../files/SimpleFriendsNeo.ipynb" /></item>
    <file path="../../files/people.csv" />
    <item type="file" title="people.csv" content_id="people.csv"> <file path="../../files/people.csv" /></item>
    <file path="../../files/friendships.csv" />
    <item type="file" title="friendships.csv" content_id="friendships.csv"> <file path="../../files/friendships.csv" /></item>
    <div class="page-def">
      <page title="[In-class] GraphDB and Neo4j"> <include path="../../pages/[In-class]-GraphDB-and-Neo4j.md" /> </page>
    </div>
    <item type="page" title="[In-class] GraphDB and Neo4j"  indent="0" content_id="[In-class] GraphDB and Neo4j" />
</module>