<module title="NoSQL">
    <include path="NoSQL-Pre-Quiz-quiz.canvas.md.xml.jinja" />
    <item type="quiz" title="NoSQL Pre-Quiz" content_id="NoSQL Pre-Quiz" indent="0" />
    <include path="Assignment-09-(NoSQL-Databases).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 09 (NoSQL Databases)" content_id="Assignment 09 (NoSQL Databases)" indent="0" />
    <include path="Scaling,-Reliability,-Security,-and-System-Design.canvas.md.xml.jinja" />
    <item type="assignment" title="Scaling, Reliability, Security, and System Design" content_id="Scaling, Reliability, Security, and System Design" indent="0" />
    <include path="Redis-Project.canvas.md.xml.jinja" />
    <item type="assignment" title="Redis Project" content_id="Redis Project" indent="0" />
    <file path="../../files/NoSQL Background Topics-1.pptx" />
    <item type="file" title="NoSQL Background Topics.pptx" content_id="NoSQL Background Topics-1.pptx" indent="0" />
    <file path="../../files/IntroNoSQL-1.pptx" />
    <item type="file" title="IntroNoSQL.pptx" content_id="IntroNoSQL-1.pptx" indent="0" />
    <file path="../../files/KeyValueDatabases-1.pptx" />
    <item type="file" title="KeyValueDatabases.pptx" content_id="KeyValueDatabases-1.pptx" indent="0" />
    <file path="../../files/RedisIntro-1.pptx" />
    <item type="file" title="RedisIntro.pptx" content_id="RedisIntro-1.pptx" indent="0" />
    <div class="page-def">
      <page title="[In-class] Redis with Python Tutorial"> <include path="../../pages/[In-class]-Redis-with-Python-Tutorial.md" /> </page>
    </div>
    <item type="page" title="[In-class] Redis with Python Tutorial" content_id="[In-class] Redis with Python Tutorial" indent="0" />
</module>