<assignment title="Redis Project" points_possible="30" due_at="{{ DUE_REDIS_PROJECT_6 }}">
  <description>
**Learning**

* In class learning REDIS and concurrency activity - <https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/redis/00 - Redis Intro.ipynb>
* Setup your own redis server for free in the cloud and get the tools to configure, view, and manage it - <https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/redis/01 - Create Redis Cluster.md>
* Optional tutorial - <https://auth0.com/blog/introduction-to-redis-install-cli-commands-and-data-types>

**Deliverable**

* Project details and instructions - <https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/redis/work_queue_example/readme.md>
* Colab option - <https://colab.research.google.com/github/byu-cs-452/byu-cs-452-class-content/blob/main/redis/colab_option_redis_project.ipynb>
  </description>
</assignment>