<assignment title="Scaling, Reliability, Security, and System Design" points_possible="25.0" due_at="{{ DUE_SCALING__RELIABILITY__SECURITY__AND_SYSTEM_DESIGN_6 }}">
  <description>
Recommended Reading:  
<https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/system_design/Recommended_Reading.md>

Do the following activities and submit a PDF of the deliverables:

<https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/system_design/Scaling_Activity.md>

<https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/system_design/Reliable_Systems.md>

<https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/system_design/System_Design.md>
  </description>
</assignment>