<module title="Vector DB (Complex Types)">
    <include path="Assignment-08-(Complex-Types).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 08 (Complex Types)" content_id="Assignment 08 (Complex Types)" indent="0" />
    <div class="page-def">
      <page title="Timescale Setup Instructions"> <include path="../../pages/Timescale-Setup-Instructions.md" /> </page>
    </div>
    <item type="page" title="Timescale Setup Instructions" content_id="Timescale Setup Instructions" indent="0" />
    <div class="page-def">
      <page title="Supabase Setup Instructions"> <include path="../../pages/Supabase-Setup-Instructions.md" /> </page>
    </div>
    <item type="page" title="Supabase Setup Instructions" content_id="Supabase Setup Instructions" indent="0" />
    <include path="Vector-DBs-Podcast-Recommender-System.canvas.md.xml.jinja" />
    <item type="assignment" title="Vector DBs: Podcast Recommender System" content_id="Vector DBs: Podcast Recommender System" indent="0" />
    <file path="../../files/Vector DBs.pdf" />
    <item type="file" title="Vector DBs.pdf" content_id="Vector DBs.pdf" indent="0" />
    <include path="Conference-Talk-Retrieval-Augmented-Generation-(RAG).canvas.md.xml.jinja" />
    <item type="assignment" title="Conference Talk Retrieval Augmented Generation (RAG)" content_id="Conference Talk Retrieval Augmented Generation (RAG)" indent="0" />
</module>