<module title="Migrated - Other Items">
    <include path="Assignment-04-(More-Complex-Queries).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 04 (More Complex Queries)" content_id="Assignment 04 (More Complex Queries)" />
</module>