<module title="SQL">
    <include path="LeetCode!-Big-Countries.canvas.md.xml.jinja" />
    <item type="assignment" title="LeetCode! Big Countries" content_id="LeetCode! Big Countries" indent="0" />
    <include path="LeetCode!-Find-Customer-Referee.canvas.md.xml.jinja" />
    <item type="assignment" title="LeetCode! Find Customer Referee" content_id="LeetCode! Find Customer Referee" indent="0" />
    <include path="LeetCode!-Low-Fat-and-Recyclable.canvas.md.xml.jinja" />
    <item type="assignment" title="LeetCode! Low Fat and Recyclable" content_id="LeetCode! Low Fat and Recyclable" indent="0" />
    <include path="In-Person-SQL-Interview-Easy-LeetCode-(with-hints-with-peer-or-TA).canvas.md.xml.jinja" />
    <item type="assignment" title="In Person SQL Interview Easy LeetCode (with hints with peer or TA)" content_id="In Person SQL Interview Easy LeetCode (with hints with peer or TA)" indent="0" />
    <include path="Assignment-02-(Referential-Integrity).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 02 (Referential Integrity)" content_id="Assignment 02 (Referential Integrity)" indent="0" />
    <include path="LeetCode!-Choose-10!-SQL.canvas.md.xml.jinja" />
    <item type="assignment" title="LeetCode! Choose 10! SQL" content_id="LeetCode! Choose 10! SQL" indent="0" />
    <include path="Assignment-03-(Aggregate-and-Joins).canvas.md.xml.jinja" />
    <item type="assignment" title="Assignment 03 (Aggregate and Joins)" content_id="Assignment 03 (Aggregate and Joins)" indent="0" />
    <include path="LeetCode!-Choose-10-more!-SQL.canvas.md.xml.jinja" />
    <item type="assignment" title="LeetCode! Choose 10 more! SQL " content_id="LeetCode! Choose 10 more! SQL " indent="0" />
    <include path="In-Person-SQL-Interview-Easy-LeetCode-(no-hints-with-peer-or-TA).canvas.md.xml.jinja" />
    <item type="assignment" title="In Person SQL Interview Easy LeetCode (no hints with peer or TA)" content_id="In Person SQL Interview Easy LeetCode (no hints with peer or TA)" indent="0" />
    <include path="LeetCode!-Choose-10-more!-SQL-(or-do-5-now-and-15-later).canvas.md.xml.jinja" />
    <item type="assignment" title="LeetCode! Choose 10 more! SQL  (or do 5 now and 15 later)" content_id="LeetCode! Choose 10 more! SQL  (or do 5 now and 15 later)" indent="0" />
    <include path="LeetCode!-Choose-10-more!-SQL.canvas.md.xml.jinja" />
    <item type="assignment" title="LeetCode! Choose 10 more! SQL " content_id="LeetCode! Choose 10 more! SQL " indent="0" />
    <include path="In-Person-SQL-Interview-Medium-(with-hints-TA-only).canvas.md.xml.jinja" />
    <item type="assignment" title="In Person SQL Interview Medium (with hints TA only)" content_id="In Person SQL Interview Medium (with hints TA only)" indent="0" />
    <include path="In-Person-SQL-Interview-Medium-(no-hints-TA-only).canvas.md.xml.jinja" />
    <item type="assignment" title="In Person SQL Interview Medium (no hints TA only)" content_id="In Person SQL Interview Medium (no hints TA only)" indent="0" />
</module>