<assignment title="In Person SQL Interview Easy LeetCode (no hints with peer or TA)" points_possible="3" due_at="{{ DUE_IN_PERSON_SQL_INTERVIEW_EASY_LEETCODE__NO_HINTS_WITH_PEER_OR_TA__1 }}">
  <description>
<https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/sql/Interview.md>
  </description>
</assignment>