<assignment title="In Person SQL Interview Medium (with hints TA only)" points_possible="3" due_at="{{ DUE_IN_PERSON_SQL_INTERVIEW_MEDIUM__WITH_HINTS_TA_ONLY__1 }}">
  <description>
<https://github.com/byu-cs-452/byu-cs-452-class-content/blob/main/sql/Interview.md>
  </description>
</assignment>