<assignment title="LeetCode! Big Countries" points_possible="3" due_at="{{ DUE_LEETCODE__BIG_COUNTRIES_1 }}">
  <description>
Solve this problem:

<https://leetcode.com/problems/big-countries>

Submit for grading your "accepted solution link"

![image.png](../../files/Uploaded Media/image-3.png)
  </description>
</assignment>