<assignment title="LeetCode! Low Fat and Recyclable" points_possible="3" due_at="{{ DUE_LEETCODE__LOW_FAT_AND_RECYCLABLE_1 }}">
  <description>
Solve this problem:

[https://leetcode.com/problems/recyclable-and-low-fat-products](https://leetcode.com/problems/recyclable-and-low-fat-products/description/)

Submit for grading your "accepted solution link" (make sure it has the ID)
  </description>
</assignment>