<assignment title="LeetCode! Find Customer Referee" points_possible="3.0" due_at="{{ DUE_LEETCODE__FIND_CUSTOMER_REFEREE_1 }}">
  <description>
Solve this problem:

<https://leetcode.com/problems/find-customer-referee>

Submit for grading your "accepted solution link" (make sure it has the ID)
  </description>
</assignment>