<assignment title="(Extra Credit) SQL 77 Leetcode Questions" points_possible="10.0">
  <description>
Do 77 SQL leetcode problems (https://leetcode.com/problem-list/2hv17fjt/). You can look at solutions, get help, but you have to type it yourself (not transcribe or copy/paste).

Then submit your profile URL for grading:  
Example: https://leetcode.com/u/michael187
  </description>
</assignment>