<module title="Extra Credit">
    <include path="(Extra-Credit)-SQL-77-Leetcode-Questions.canvas.md.xml.jinja" />
    <item type="assignment" title="(Extra Credit) SQL 77 Leetcode Questions" content_id="(Extra Credit) SQL 77 Leetcode Questions" indent="0" />
</module>